*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.bg-img {
    background-image: url("./image/bg_gre.png");
  
    min-height: 480px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
		    position: relative;
  }

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d65108;
    border-radius: 50px;
}

.search-box{
	position: absolute;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	padding-left: 20px;

}

button{
	border: none;
	color: black ;
	float: left;
	width: 30px;
	height: 30px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

input[type="text"]::placeholder{
	padding-left: 15px;
}

.search-txt{
	border: none;
	outline: none;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	float: left;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
}

.inscription{
	float: right;
}
#liste:not(.inscription) {
    float: right;
    border-right: 1px solid #bbb;
}

.logo {
  float : left;
  padding-left: 500px;
  padding-top: 3px;
}

.logo-text{
  float: right;
  padding-right : 310px;
    color : white;
  
}

#lien {

    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
  
#liste a:hover:not(.p_active):not(.logo-lien) {
    background-color: #c73e0d;
} 

.p_active {
    background-color: #0267c1;
}

.header{
	position: relative;
  width: 95%;
  margin:0 auto;
  z-index: 2;
  padding-top: 25px;
}

.stitre{
	margin-left: 15px;
	color: #0267c1;
}
.sous-titre{
    text-align: center;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 35px;
	border-bottom: 2px solid grey;
	padding-bottom: 10px;
}
#Ccircuits{
    margin: 10px;
    margin-left: 66px;
}
.circuits{	
	width: 100%;
	display: flex;
	flex-direction:row;
	align-items: center;
	text-align: left;
}

.circuit h3{
    padding: 20;
}
.ul {
    list-style: none;
    flex: auto;
    padding: 0;
}
.icircuit{
    padding-bottom: 10px;
}
.circuit img{
    width: 400px;
}
.description{
    align-items: center;
    margin-right: 20px;
    margin: 10px;
    padding: 20px;
}
.ul li {
    padding-left: 1.3em;
    padding: 12px;
}
.ul2 li {
    padding-left: 1.3em;
    padding: 12px;
}

.li1:before{
    content: "\f0c0"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;    
    width: 1.3em;    
}

.li2:before{
    content: "\f236"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;    
    width: 1.3em;    
}

.li3:before{
    content: "\f207"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;    
    width: 1.3em;    
}

.li4:before{
    content: "\f277"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;    
    width: 1.3em;    
}

.circuit{
	padding: 50px;

}
.circuit p{
	color: black;
}
.icircuit{
	width: 300px;
}

#c1{
    margin-bottom: 52px;
}
.footer {
	width: 92.3%;
	top: 2300px;
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color: #fff;
	background-color: #0267c1;
}
.box{
    margin-left: 50px;
}
#Iti{
    background-color:#fdfaf0;
}
	
	.footer > * {
	flex:  1 100%;
	}
	.avion2{
		width: 100px;
		padding-left: 100px;
	}
	.l-footer {
	margin-right: 1.25em;
	margin-bottom: 2em;
	}
	
	h2 {
	font-weight: 400;
	font-size: 15px;
	}
	
	.footer ul {
	list-style: none;
	padding-left: 0;
	}
	
	.footer li {
	line-height: 2em;
	}
	
	.footer a {
	text-decoration: none;
	}
	
	.r-footer {
	display: flex;
	flex-flow: row wrap;
	}
	
	.r-footer > * {
	flex: 1 50%;
	margin-right: 1.25em;
	}
	
	.box a {
	color: white;
	}
	
	.h-box {
	column-count: 2;
	column-gap: 1.25em;
	}
	
	.b-footer {
	text-align: center;
	color: white;
	padding-top: 50px;
	}
	
	.l-footer p {
	padding-right: 100%;
	
	}   

	
	@media screen and (min-width: 600px) {
	.r-footer > * {
	flex: 1;
	}
	
	.features {
	flex-grow: 2;
	}
	
	.l-footer {
	flex: 1 0px;
	}
	
	.r-footer {
	flex: 2 0px;
	}
	}

.jour{
    padding-top: 20px;
	margin-bottom: 30px;
}
.img1{
	margin-top: 70px;
}
.img2{
	padding-top: 40px;
}
.j2{
	padding-top: 50px;
}

.jour img{
    float: left;
}
#jours{
    padding-left: 350px;
}

.j2{
	padding-top: 20px;
}

.img3{
	padding-top: 20px;
}
#jours a{
	color: black;
}

#jours li{
	padding : 10px;
}
#bg{
	padding-bottom: 150px;
	background-color:fdfaf0;
}
.dropbtn {
	background-color: white;
	color:#c73e0d;
	padding: 15px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: white;
  }

.dropdown-contenu{
  display: none;
  position: absolute;
  margin-top : 30px;
  margin-left: 32px;
  background-color: #f6f6f6;
  min-width: 210px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-contenu a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;	
}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}
.search-box{
	display: inline-block;

}